.terminal {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
}

/* Terminal wrapper */
.terminal > div {
  height: 400px;
  min-height: 400px;
  width: 80%;
  min-width: 280px;
  max-width: 600px;

  overflow: hidden;
  border-radius: 10px;

  background-color: #000;
}

/* Toolbar styling */
.terminal > div > div:first-child {
  position: relative;
  display: flex;
  align-items: center;

  padding: 5px 10px;

  background-color: #3e3e3e;
}

.terminal > div > div:first-child > div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.terminal > div > div:first-child > div:nth-child(1) {
  background-color: #e52a2a;
}
.terminal > div > div:first-child > div:nth-child(2) {
  background-color: #e5bc2a;
}
.terminal > div > div:first-child > div:nth-child(3) {
  background-color: #2ae53d;
}

.terminal > div > div:first-child > span {
  position: absolute;
  width: 100%;
  left: 0;

  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #c2c2c2;
}

.terminal > div > div:last-child {
  height: calc(100% - 20px);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
}

.terminal > div > div:last-child > div {
  overflow-y: auto;
}

/* Scrollbar track */
.terminal > div > div:last-child > div::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar thumb */
.terminal > div > div:last-child > div::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

/* Scrollbar thumb on hover */
.terminal > div > div:last-child > div::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.terminal > div > div:last-child > div > pre {
  margin: 14px 0;

  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  color: #ffffff;

  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Terminal field styling */
.terminal > div > div:last-child > input {
  width: 100%;
  box-sizing: border-box;

  padding: 9.5px 14px;
  margin-top: 20px;

  border: none;
  outline: none;

  font-size: 18px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #fff;

  border-radius: 5px;
  background-color: #3e3e3e;
}
