.search {
  font-family: "Inter", sans-serif;
}

/* Search wrapper */
.search > .search-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  border: 1px solid #d1d1d1;
  border-radius: 5px;
  text-wrap: nowrap;
}

/* Upper search title */
.search > .search-wrapper:has(> #search-input:focus)::before {
  content: "Search";
  position: absolute;
  top: -8.5px;
  left: 20px;
  background: #fff;
  padding: 0 8.5px;
  color: #a1a1a1;
  font-size: 12px;
}

/* Search input */
.search #search-input {
  width: 100%;

  border: none;
  margin: 21.5px 20px;
  padding: 0;

  font-size: 13px;
  font-weight: 400;
  color: #333333;
}

/* Search on focus */
.search #search-input:focus {
  outline: none;
}

.search #search-input::placeholder {
  color: #8d8d8d;
}

.search .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.search .icons > * {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;

  margin-right: 12px;
}

.search .icons > .loading-icon {
  display: none;
}

.search ul {
  width: 100%;

  display: none;
  list-style: none;

  position: relative;
  top: 10px;
  z-index: 1;

  margin: 0;
  padding: 2px 0 9px 0;

  border-radius: 5px;
  background-color: #f4f4f4;
}

/* Each hovered li, which has nested ul, add arrow for dropped down menu */
.search ul:has(> li)::before {
  content: "";

  position: absolute;
  top: -12px;
  left: 22px;
  z-index: 1;

  border: 6px solid transparent;
  border-bottom-color: #f4f4f4;
}

.search ul:has(> li) {
  display: block;
}

.search ul > li {
  display: flex;
  justify-content: space-between;
  margin: 18px 20px 0 20px;
  padding-bottom: 15px;
}

.search ul > li:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.search ul > li > span {
  font-size: 13px;
}

.search ul > li > span:last-child {
  font-weight: 500;
}
